<p id="notice"><%= notice %></p>

<h2>Songs by <%= @artist.name.capitalize %>  <small><%= @artist.genre.name.capitalize %> Genre</small></h2>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%= song.name %></li>
  <% end %>
</ul>



<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
